<div *ngIf="_employees.length > 0">
  <table class="table table-bordered table-employees">
    <thead>
      <tr>
        <th rowspan="2" role="button" (click)="sort('type')">
          Роль
          <span class="fa fa-sort" [ngClass]="{'fa-sort-asc': sortData === 'type', 'fa-sort-desc': sortData === '-type'}"></span>
        </th>
        <th rowspan="2">Компания</th>
        <th rowspan="2">Направление</th>
        <th rowspan="2" role="button" (click)="sort('profile.second_name')">
          ФИО
          <span class="fa fa-sort" [ngClass]="{'fa-sort-asc': sortData === 'profile.second_name', 'fa-sort-desc': sortData === '-profile.second_name'}"></span>
        </th>
        <th rowspan="2">Статус</th>
        <th colspan="2">Права на</th>
        <th rowspan="2">Торгов</th>
        <th rowspan="2">Стоимость услуг</th>
      </tr>
      <tr>
        <th>Торги</th>
        <th>КК</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of _employees | orderBy: sortData">
        <td>{{ employee.getRoleName() }}</td>
        <td>{{ employee.getCompanyName() }}</td>
        <td>
          <a href="/employees">направление не выбрано</a>
        </td>
        <td style="max-width: 175px; min-width: 175px;word-wrap: break-word;">
          <a  href="/employees">{{ employee.getFullName() }}</a>&nbsp;
          <span class="fa fa-vcard-o" aria-hidden="true" tooltip content='{{ employee.getProfileInfo() }}'></span>
          <span class="fa fa-comments-o" aria-hidden="true"></span>
          <span class="fa fa-book" aria-hidden="true"></span>
        </td>
        <td  style="min-width: 190px; max-width: 190px;">
          <select class="simple-select" [(ngModel)]="employee.status" (change)="switchStatus(employee)">
            <option *ngFor="let status of STATUSES" [ngValue]="status.value">{{status.title}}</option>
          </select>
        </td>
        <td>
            <span class="fa fa-2x" (click)="employee.bidding_rights = !employee.bidding_rights"
                  [ngClass]="{'fa-plus-circle': !employee.bidding_rights, 'fa-minus-circle': employee.bidding_rights}"></span>
        </td>
        <td>
            <span class="fa fa-2x" (click)="employee.kk_rights = !employee.kk_rights"
                  [ngClass]="{'fa-plus-circle': !employee.kk_rights, 'fa-minus-circle': employee.kk_rights}"></span>
        </td>
        <td>
          <span>0</span>
          <span class="fa fa-calendar"></span>
        </td>
        <td>
          <span>0</span>
          <span class="fa fa-calendar"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
