@import "color"
@import "animate"
@import "fonts"
// Переменные

=pointer
  cursor: pointer
.pointer
  +pointer


// Фон и обводка

=white-bg
  background: $color1 !important

=yellow-bg
  background: $color2 !important

=blue-bg
  background: $color3 !important

=bg-none
  background: none !important

=bd-none
  border: none !important

=radius-3
  border-radius: 3px

// Отступы

=margin-bottom-30
  margin-bottom: 30px !important

=margin-bottom-20
  margin-bottom: 20px !important

=margin-bottom-15
  margin-bottom: 15px !important

=margin-right-15
  margin-right: 15px !important

=mg-left-10
  margin-left: 10px !important

.mg-left-10
  +mg-left-10

=margin-top-10
  margin-top: 10px

=margin-0
  margin: 0 !important

=padding-0
  padding: 0 !important

=padding-5-10
  padding: 5px 10px !important

=pd-20
  padding: 20px

.pd-20
  +pd-20

=pd-bottom-5
  padding-bottom: 5px !important

=pd-left-5
  padding-left: 5px !important

=pd-left-40
  padding-left: 40px

=pd-left-10
  padding-left: 10px !important

// Display and position

=block
  display: block

=inline-block
  display: inline-block

=none
  display: none

=absolute
  position: absolute
// Text

.yellow-font
  color: $color2 !important

.grey-font
  color: darken($color1,20%) !important

=uppercase
  text-transform: uppercase

=txt-shadow
  text-shadow: 1px 1px 0px darken($color1,50%)

.bold, label, .nav, .error
  font-weight: bold
  +caption-font-medium

=f-size-1-5
  font-size: 1.5em

.f-size-1-5
  +f-size-1-5

.navbar-brand
  +caption-font-regular
  +uppercase


body
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

// Inputs

input
 padding: 5px 10px
 margin: 0 0 15px

input[type=date]
  background: lighten($color2,30%)
  +mg-left-10
  +bd-none

.input-dotted-overflow
  +margin-bottom-15
  input[type=text]
    border: none
    border-bottom: 1px dashed #cccccc
    margin-right: 15px
    width: 150px
    outline: none
    &:required
      &::after
        content: "afdsd"

form
  b
    margin: 0 20px 0 -20px
    color: adjust-hue($color2, -50deg)
    font-weight: 500

label.error
  position: absolute
  margin-top: 40px
  font-size: 11px!important

// New values ​​of captions

h1, h2, h3, h4, .h1, .h2, .h3, .h4
 +caption-font-regular
 +margin-bottom-15

h5, h6, .h5, .h6
  +caption-font-regular

// Chekbox and radio

.radio
  +inline-block
  +margin-right-15
  cursor: pointer
  input[type="radio"]
    position: absolute
    opacity: 0
    + .radio-label
      &:before
        content: ''
        background: $color1
        border-radius: 100%
        border: 2px solid $color3
        display: inline-block
        width: 20px
        height: 20px
        position: relative
        top: 2px
        margin-right: 5px
        vertical-align: top
        cursor: pointer
        text-align: center
        transition: all 250ms ease
    &:checked
      + .radio-label
        &:before
          background-color: $color3
          box-shadow: inset 0 0 0 3px $color1
    &:focus
      + .radio-label
        &:before
          outline: none
          border-color: $color3
    &:disabled
      + .radio-label
        &:before
          box-shadow: inset 0 0 0 4px $color1
          border-color: darken($color1, 25%)
          background: darken($color1, 25%)
    + .radio-label
      &:empty
        &:before
          margin-right: 0

.cbx
  position: relative
  width: 17px
  height: 17px
  border: 1px solid darken($color1,40%)
  border-radius: 3px
  vertical-align: middle
  transition: background .1s ease
  cursor: pointer
  &:after
    content: ''
    position: absolute
    top: 1px
    left: 5px
    width: 5px
    height: 11px
    opacity: 0
    transform: rotate(45deg) scale(0)
    border-right: 2px solid white
    border-bottom: 2px solid white
    transition: all .3s ease
    transition-delay: .15s


.lbl
  margin-left: 5px
  vertical-align: middle
  cursor: pointer

#cbx:checked ~ .cbx
  border-color: transparent
  background: $color3
  animation: jelly .6s ease
  &:after
    opacity: 1
    transform: rotate(45deg) scale(1)

@keyframes jelly
  from
    transform: scale(1, 1)
  30%
    transform: scale(1.25, 0.75)
  40%
    transform: scale(0.75, 1.25)
  50%
    transform: scale(1.15, 0.85)
  65%
    transform: scale(.95, 1.05)
  75%
    transform: scale(1.05, .95)
  to
    transform: scale(1, 1)


// Buttons

.btn-primary
  +yellow-bg
  +bd-none
  +radius-3
  +padding-5-10
  +caption-font-medium
  color: darken($color1,90%)
  +pointer
  &:hover
    background: darken($color2,5%)!important
    transition: 500ms

.alert-success
  +caption-font-medium
  +padding-0
  +bg-none
  +bd-none
  font-size: 0.8em

nav
  +padding-0
  .container
    +bd-none

.nav-link
  padding: 5px 0
  color: darken($color1,80%) !important

.left-menu
  //background: mix($color1, $color2, 92%)
  background: darken($color1,4%)
  padding-top: 10px
  height: 100vh

ul.sub-menu
  display: none

li.active
  & ul.sub-menu
    margin: 0 -15px !important
    +padding-0
    +block
    list-style-type: none
    li.active
      a:before
        background: $color3!important
        border: none
    a
      display: block
      color: darken($color1,75%)
      text-decoration: none
      padding: 7px 25px
      text-transform: uppercase
      font-size: 13px
      font-weight: 500
      background: darken($color1,6%)
      border-bottom: 1px solid darken($color1,15%)
      border-top: 1px solid darken($color1,2%)
      &:before
        content: " "
        width: 8px
        height: 8px
        background: transparent
        border: 1px solid $color3
        display: inline-block
        border-radius: 8px
        margin-right: 5px

  & a.nav-link
    background: $color3 !important
    color: darken($color1,80%)!important
    margin: 0 -15px
    padding: 10px 15px
    border-bottom: 1px solid darken($color3,10%)
    border-top: 1px solid darken($color3,10%)
    &:after
      content: " "
      border-right: 10px solid $color1
      border-right: 10px solid $color1
      border-top: 22px solid transparent
      border-bottom: 22px solid transparent
      display: block
      position: absolute
      margin-top: -35px
      right: 0

.error
  color: adjust-hue($color2, -65deg)
  +margin-bottom-15
  +inline-block
  +uppercase
  font-size: 14px
  font-weight: 500
  letter-spacing: 0.7px
  i
    font-size: 20px

.ng-touched.ng-invalid
  +bg-none
  border-color: adjust-hue($color2, -65deg) !important
  border-width: 1px !important

span.num
  background: #ffec05
  font-size: 9px
  margin-left: -3px
  font-weight: 900
  padding: 2px 5px
  border: 1px solid #292b2c
  color: #292b2c
  border-radius: 13px

.navbar-nav
  float: right
  li
    margin: 0 10px

.bold
  font-weight: 500

.res-id
  +margin-right-15

// Animation delay(временный костыль)
.d_2
  animation-delay: 0.3s
.d_3
  animation-delay: 0.6s
.d_4
  animation-delay: 0.9s
.d_5
  animation-delay: 1.2s


