<div class="row">
  <label class="col-6">
    Организационно-правовая форма
    <input class="simple-input" type="text" placeholder="ООО" required
           [disabled]="form_view"
           [(ngModel)]="personal_data.organization_type" name="organization_type" #organization_type="ngModel">
    <div *ngIf="organization_type.touched && organization_type.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
  <label class="col-6">
    Полное название организации
    <input class="simple-input" type="text" placeholder="СтройКопай" required
           [(ngModel)]="personal_data.organization_name" name="organization_name" #organization_name="ngModel">
    <div *ngIf="organization_name.touched && organization_name.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
</div>
<div class="header mod-align-center">
  <div class="text">Данные об уполномоченном на подписание договора</div>
  <div class="border"></div>
</div>
<div class="row">
  <label class="col-4">
    Фамилия
    <fa class="ico-duplicate" name="angle-double-down"
        (click)="duplicateFIO()"></fa>
    <input class="simple-input" type="text" placeholder="Иванов" required
           [disabled]="form_view"
           [(ngModel)]="personal_data.contract_second_name" name="contract_second_name" #contract_second_name="ngModel">
    <div *ngIf="contract_second_name.touched && contract_second_name.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
  <label class="col-4">
    Имя
    <input class="simple-input" type="text" placeholder="Иван" required
           [disabled]="form_view"
           [(ngModel)]="personal_data.contract_first_name" name="contract_first_name" #contract_first_name="ngModel">
    <div *ngIf="contract_first_name.touched && contract_first_name.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
  <label class="col-4">
    Отчество
    <input class="simple-input" type="text" placeholder="Иванович"
           [disabled]="form_view"
           [(ngModel)]="personal_data.contract_patronymic" name="contract_patronymic" #contract_patronymic="ngModel">
    <!--<div *ngIf="contract_patronymic.touched && contract_patronymic.errors?.required" class="error">-->
      <!--{{'Field may not be null.' | translate}}-->
    <!--</div>-->
  </label>
</div>
<div class="row">
  <label class="col-6">
    Должность
    <input class="simple-input" type="text" placeholder="Директор" required
           [(ngModel)]="personal_data.position" name="position" #position="ngModel">
    <div *ngIf="position.touched && position.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
  <label class="col-6">
    Основание полномочий
    <input class="simple-input" type="text" placeholder="Устав №123 от 10.01.2005" required
           [(ngModel)]="personal_data.authority_basis" name="authority_basis" #authority_basis="ngModel">
    <div *ngIf="authority_basis.touched && authority_basis.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
</div>
<!--<div class="header mod-align-center">-->
  <!--<div class="text">Данные об организации</div>-->
  <!--<div class="border"></div>-->
<!--</div>-->
<div class="header mod-align-center">
  <div class="text">Адрес регистрации/проживания</div>
  <div class="border"></div>
</div>
<div class="row">
  <label class="col-3">
    Индекс
    <input class="simple-input" type="text" required
           placeholder="{{form_view && !personal_data.passport_issued_by ? 'не указано': 'Индекс'}}"
           [disabled]="form_view" [textMask]="{mask: MASKS.only_number, guide: false}"
           [(ngModel)]="personal_data.registration_address_postcode" name="registration_address_postcode"
           #registration_address_postcode="ngModel">
    <div *ngIf="registration_address_postcode.touched && registration_address_postcode.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>

  <div class="col-9" *ngIf="!form_view">
    <location
      (countryOut)="personal_data.registration_address_country_id = $event"
      (regionOut)="personal_data.registration_address_region_id = $event"
      (cityOut)="personal_data.registration_address_city_id = $event"
      [country]="personal_data.registration_address_country ? personal_data.registration_address_country.id: ''"
      [region]="personal_data.registration_address_region ? personal_data.registration_address_region.id: ''"
      [city]="personal_data.registration_address_city ? personal_data.registration_address_city.id: ''"></location>
  </div>
  <div class="col-9" *ngIf="form_view">
    <div class="row">
      <label class="col-4">
        Страна
        <input disabled class="simple-input" type="text" name="registration_address_country"
               [ngModel]="personal_data.registration_address_country ? personal_data.registration_address_country.title: ''">
      </label>
      <label class="col-4">
        Регион
        <input disabled class="simple-input" type="text" name="registration_address_region"
               [ngModel]="personal_data.registration_address_region ? personal_data.registration_address_region.title: ''">
      </label>
      <label class="col-4">
        Город
        <input disabled class="simple-input" type="text" name="registration_address_city"
               [ngModel]="personal_data.registration_address_city ? personal_data.registration_address_city.title: ''">
      </label>
    </div>
  </div>
  <label class="col-6">
    Улица/дом/корпус/квартира
    <input class="simple-input" type="text" required
           placeholder="{{form_view && !personal_data.registration_address_street ? 'не указано': 'ул. Кирова д.2 кв.4'}}"
           [disabled]="form_view"
           [(ngModel)]="personal_data.registration_address_street" name="registration_address_street"
           #registration_address_postcode="ngModel">
    <div *ngIf="registration_address_postcode.touched && registration_address_postcode.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
</div>
<div class="header mod-align-center">
  <div class="text">Почтовый адрес</div>
  <div class="border"></div>
</div>
<div class="row">
  <label class="col-3">
    Индекс
    <!--TODO: сделать дублирование адреса-->
    <!--<fa class="ico-duplicate" name="angle-double-down"></fa>-->
    <input class="simple-input" type="text" required
           placeholder="{{form_view && !personal_data.postal_address_postcode ? 'не указано': 'Индекс'}}"
           [disabled]="form_view" [textMask]="{mask: MASKS.only_number, guide: false}"
           [(ngModel)]="personal_data.postal_address_postcode" name="postal_address_postcode"
           #postal_address_postcode="ngModel">
    <div *ngIf="postal_address_postcode.touched && postal_address_postcode.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
  <div *ngIf="!form_view" class="col-9">
    <location
      (countryOut)="personal_data.postal_address_country_id = $event"
      (regionOut)="personal_data.postal_address_region_id = $event"
      (cityOut)="personal_data.postal_address_city_id = $event"
      [country]="personal_data.postal_address_country ? personal_data.postal_address_country.id: ''"
      [region]="personal_data.postal_address_region ? personal_data.postal_address_region.id: ''"
      [city]="personal_data.postal_address_city ? personal_data.postal_address_city.id: ''"></location>
  </div>
  <div class="col-9" *ngIf="form_view">
    <div class="row">
      <label class="col-4">
        Страна
        <input disabled class="simple-input" type="text" name="postal_address_country"
               [ngModel]="personal_data.postal_address_country ? personal_data.postal_address_country.title: ''">
      </label>
      <label class="col-4">
        Регион
        <input disabled class="simple-input" type="text" name="postal_address_region"
               [ngModel]="personal_data.postal_address_region ? personal_data.postal_address_region.title: ''">
      </label>
      <label class="col-4">
        Город
        <input disabled class="simple-input" type="text" name="postal_address_city"
               [ngModel]="personal_data.postal_address_city ? personal_data.postal_address_city.title: ''">
      </label>
    </div>
  </div>
  <label class="col-6">
    Улица/дом/корпус/квартира
    <input class="simple-input" type="text" required
           placeholder="{{form_view && !personal_data.postal_address_street ? 'не указано': 'ул. Кирова д.2 кв.4'}}"
           [disabled]="form_view"
           [(ngModel)]="personal_data.postal_address_street" name="postal_address_street"
           #postal_address_street="ngModel">
    <div *ngIf="postal_address_street.touched && postal_address_street.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
</div>
<div class="row">
  <label class="col-6">
    Номер свидетельства гос. регистрации юр.лица
    <input [textMask]="{mask: MASKS.only_number, guide: false}" class="simple-input" type="text" required
           placeholder="12345678912"
           [(ngModel)]="personal_data.certificate_number" name="certificate_number" #certificate_number="ngModel">
    <div *ngIf="certificate_number.touched && certificate_number.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
  <label class="col-6">
    Дата государственной регистрации юр.лица
    <ng2-datepicker [required]="true" [(ngModel)]="personal_data.certificate_date"
                    name="certificate_date"></ng2-datepicker>
  </label>
</div>
<div class="row">
  <label *ngIf="status.residency!='other'" class="col-5">
    ИНН
    <input class="simple-input" type="text" required
           placeholder="{{form_view && !personal_data.itn ? 'не указано': '1234567890'}}"
           [rangeLength]="[10, 10]"
           [disabled]="form_view" [textMask]="{mask: MASKS.only_number, guide: false}"
           [(ngModel)]="personal_data.itn" name="itn" #itn="ngModel">
    <div *ngIf="itn.touched && itn.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
    <div class="error" *ngIf="itn.touched && itn.errors?.rangeLength">10{{ 'digits.' | translate}}</div>
  </label>
  <label *ngIf="status.residency=='other'" class="col-5">
    ИНН или номер налогоплательщика
    <input class="simple-input" type="text" required
           placeholder="{{form_view && !personal_data.itn ? 'не указано': '1234567890'}}"
           [disabled]="form_view" [textMask]="{mask: MASKS.only_number, guide: false}"
           [(ngModel)]="personal_data.itn" name="itn" #itn="ngModel">
    <div *ngIf="itn.touched && itn.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
    <!--<div class="error" *ngIf="itn.touched && itn.errors?.rangeLength">10{{ 'digits.' | translate}}</div>-->
  </label>
  <label class="col-5">
    КПП
    <input class="simple-input" type="text" [required]="status.residency!='other'"
           placeholder="{{form_view && !personal_data.iec ? 'не указано': '12345678912'}}"
           [disabled]="form_view" [textMask]="{mask: MASKS.only_number, guide: false}"
           [(ngModel)]="personal_data.iec" name="iec" #iec="ngModel">
    <div *ngIf="iec.touched && iec.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
  </label>
  <label class="col-5">
    ОГРН
    <input class="simple-input" type="text" [required]="status.residency!='other'"
           placeholder="{{form_view && !personal_data.iec ? 'не указано': '1234567890123'}}"
           [rangeLength]="[13, 13]"
           [disabled]="form_view" [textMask]="{mask: MASKS.only_number, guide: false}"
           [(ngModel)]="personal_data.psrn" name="psrn" #psrn="ngModel">
    <div *ngIf="psrn.touched && psrn.errors?.required" class="error">
      {{'Field may not be null.' | translate}}
    </div>
    <div class="error" *ngIf="psrn.touched && psrn.errors?.rangeLength">13{{ 'digits.' | translate}}</div>
  </label>
</div>
<!--<div class="row" *ngIf="status.residency=='other'">-->
  <!--<label class="col-4">-->
    <!--Номер налогоплательщика-->
    <!--<input class="simple-input" type="text" required-->
           <!--placeholder="12345678912"-->
           <!--[disabled]="form_view" [textMask]="{mask: MASKS.only_number, guide: false}"-->
           <!--[(ngModel)]="personal_data.itn" name="itn" #itn="ngModel">-->
    <!--<div *ngIf="itn.touched && itn.errors?.required" class="error">-->
      <!--{{'Field may not be null.' | translate}}-->
    <!--</div>-->
  <!--</label>-->
<!--</div>-->
