<div class="row">
  <label class="col-6">
    Название банка
    <input  [(ngModel)]="personal_data.bank_name" [disabled]="form_view" class="simple-input" type="text" placeholder="АО «Альфа-Банк», г. Москва">
  </label>
  <label class="col-6">
    БИК банка
    <input [(ngModel)]="personal_data.bank_bic" [disabled]="form_view" class="simple-input" type="text" placeholder="044525593">
  </label>
  <label class="col-6">
    Корреспондентский счет
    <input [(ngModel)]="personal_data.bank_corresponding_account" [disabled]="form_view" class="simple-input" type="text" placeholder="30101810900000000181">
  </label>
  <label class="col-6">
    Расчетный счет
    <input [(ngModel)]="personal_data.bank_current_account" [disabled]="form_view" class="simple-input" type="text" placeholder="11234567891234567890">
  </label>
</div>
