<div class="locations col-6">
  <div class="form-group">
    <label>Country</label>
    <select class="form-control" [(ngModel)]="_country" (change)="changeCountry()">
      <option *ngFor="let country of _countries" data="country" [ngValue]="country.id">{{country.title}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Region</label>
    <select class="form-control" [(ngModel)]="_region" (change)="changeRegion()" [disabled]="!_country || !_hasRegions">
      <option *ngFor="let region of _regions" [ngValue]="region.id">{{region.title}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>City</label>
    <select class="form-control" [(ngModel)]="_city" (change)="changeCity()" [disabled]="!_country || (_hasRegions && !_region)">
      <option *ngFor="let city of _cities" [ngValue]="city.id">{{city.title}}</option>
    </select>
  </div>
</div>
