<div class="select-block">
  <header>Резиденство</header>
  <div class="row">
    <div class="col-12">
      <div class="btn-group" data-toggle="buttons">
        <label *ngFor="let _residency of RESIDENCES"
               class="btn btn-primary" [ngClass]="{active: status.residency==_residency.value}">
          <input type="radio" name="residency" [(ngModel)]="status.residency" (change)="changeResidence()" value={{_residency.value}}>
          {{_residency.title}}
        </label>
      </div>
    </div>
  </div>
  <header>Юридический статус</header>
  <div class="row">
    <div class="col-12">
      <div class="btn-group" data-toggle="buttons">
        <label *ngFor="let _legal_status of LEGAL_STATUSES"
               class="btn btn-primary" [ngClass]="{active: status.legal_status==_legal_status.value}">
          <input type="radio" name="legal_status" [(ngModel)]="status.legal_status" value={{_legal_status.value}}>
          {{_legal_status.title}}
        </label>
      </div>
    </div>
  </div>
</div>
