<div class="userblock">
  <div *ngIf="adbice_start_visible" class="advice">
    <i class="fa fa-exclamation animated jello"></i>
    Добро пожаловать на Dircount.com!
    Для начала работы вам необходимо заполнить некоторые данные о себе.
  </div>
  <h4>Ваши данные:
    <button class="icon-button" (click)="reset()"><i class="fa fa-refresh icon-block pointer yellow-font"></i></button>
  </h4>
  <!-- Status 1-1 -->
  <div *ngIf="user_data_status != 'saved'">
    <form novalidate class="animated" [ngClass]="{fadeOut:user_data_status === 'saved_animate'}"
          (animationend)="animationEnd()"
          #userDataForm="ngForm" (submit)="$event.preventDefault();saveUserData(userDataForm)">
      <div (keyup)="onKeyUp($event)" class="input-dotted-overflow">
        <input (focus)="user_data_status='opened'" placeholder="Иванов" type="text" required
               [(ngModel)]="user.second_name" name="second_name" #second_name="ngModel"><b>*</b>

        <input (focus)="user_data_status='opened'" placeholder="Иван" type="text" required
               [(ngModel)]="user.first_name" name="first_name" #first_name="ngModel"><b>*</b>
        <input (focus)="user_data_status='opened'" placeholder="Иванович" type="text">
      </div>
      <!-- Status 1-2 -->
      <div *ngIf="user_data_status === 'opened' || user_data_status === 'saved_animate'">
        <div class="animated fadeIn">
          <div class="info-block">
            <h4>Контактная информация:</h4>
            <i class="fa fa-mobile icon-block"></i>
            <input placeholder="Номер телефона" type="tel">
            <button title="Добавить" class="icon-button"><i class="fa fa-plus"></i></button>
            <br>
            <i class="fa fa-at icon-block"></i>
            <label class="error" *ngIf="email.errors?.email">Неправильный email</label>
            <input placeholder="Электронная почта" type="email" required email
                   [(ngModel)]="user.email" name="email" #email="ngModel"><b>*</b>
            <button class="icon-button"><i class="fa fa-pencil"></i></button>
            <input placeholder="Пароль" type="text">
            <button class="icon-button"><i class="fa fa-pencil"></i></button>
          </div>
        </div>
        <!--<span *ngIf="second_name.touched && second_name.errors?.required" class="error">-->
          <!--<i class="fa fa-exclamation animated jello"></i> Пожалуйста, заполните все поля отмеченные звёздочкой (*)-->
        <!--</span>-->
        <div class="agree-and-go animated fadeIn">
          <button type="submit" class="btn-primary"><i class="fa fa-check"></i> Сохранить</button>
        </div>
      </div>
      <!-- END Status 1-2 -->
    </form>
  </div>
  <!-- END Status 1-1 -->

  <!-- Status 1-3 -->
  <div *ngIf="user_data_status === 'saved'" class="animated fadeIn">
    <h2>Иванов Иван Иванович<span class="user-id"> (ID:<b>486672</b>)</span></h2>
    <p><i class="fa fa-flag icon-block yellow-font"></i><span class="res-id bold">Резидент РФ</span></p>
    <p><i class="fa fa-mobile icon-block yellow-font"></i><span class="user-phone bold">8 923 623 7634</span>
      <span class="yellow-font"> / </span><span class="user-phone bold">8 913 623 6344</span>
      <span class="yellow-font"> / </span><span class="user-phone bold">8 900 613 7688</span>
    </p>
    <p><i class="fa fa-at icon-block yellow-font"></i><span class="user-mail bold">ivanov@testmail.com</span></p>
    <button (click)="userDataEdit()" class="btn-primary"><i class="fa fa-pencil"></i> Редактировать</button>
  </div>
  <!-- END Status 1-3 -->
</div>
<hr>
<div class="corporate-block animated fadeIn" *ngIf="company_visible">
  <div class="advice" *ngIf="company_data_status != 'saved' && adbice_company_visible">
    <i class="fa fa-exclamation animated jello"></i>
    Отличная работа! Теперь укажите данные для договора!
  </div>
  <h4>Данные для договора:</h4>
  <!-- Status 2-1 -->
  <form novalidate class="animated" [ngClass]="{fadeOut:company_data_status === 'saved_animate'}"
        (animationend)="animationEnd()"
        #companyDataForm="ngForm" (submit)="$event.preventDefault();saveCompanyData(companyDataForm)">
    <div *ngIf="company_data_status != 'saved'" class="info-block">
      <div class="info-block">
        <h4>Резидентство:</h4>
        <div class="radio">
          <input class="hidden-xs-up" type="radio" id="resident-rf" value="russian_federation"
                 [(ngModel)]="user.residency" name="residency" #residency="ngModel">
          <label for="resident-rf" class="radio-label">Резидент РФ</label>
        </div>
        <div class="radio">
          <input class="hidden-xs-up" type="radio" id="other" value="other"
                 [(ngModel)]="user.residency" name="residency">
          <label for="other" class="radio-label">Иное</label>
        </div>
      </div>
      <h4>Юридический статус:</h4>
      <div class="radio">
        <input (change)="selectLegalStatus('natural_person')" class="hidden-xs-up" type="radio" name="legal_status"
               id="natural_person">
        <label for="natural_person" class="radio-label">Физ.лицо</label>
      </div>
      <div class="radio">
        <input (change)="selectLegalStatus('individual_entrepreneur')" class="hidden-xs-up" type="radio"
               name="legal_status"
               id="individual_entrepreneur">
        <label for="individual_entrepreneur" class="radio-label">ИП</label>
      </div>
      <div class="radio">
        <input (change)="selectLegalStatus('legal_entity')" class="hidden-xs-up" type="radio" name="legal_status"
               id="legal_entity">
        <label for="legal_entity" class="radio-label">Юр.лицо</label>
      </div>
    </div>

    <!-- Status 2-2 -->
    <div *ngIf="company_data_status === 'opened' || company_data_status === 'saved_animate'">

      <!-- Физ.лицо -->
      <div *ngIf="legal_status == 'natural_person'">
        <div class="input-dotted-overflow animated bounceInRight d_1">
          <label>ФИО </label><input placeholder="Иванов" type="text">
          <input placeholder="Иван" type="text">
          <input placeholder="Иванович" type="text"><br>
          <label>ИНН </label><input placeholder="1234567890" type="text">
        </div>
        <div class="input-dotted-overflow info-block animated bounceInRight d_2">
          <label class="h5">Серия паспорта: </label><input placeholder="1234" type="text" class="passport-series">
          <label>Номер </label><input placeholder="123456" type="text" class="passport-num">
          <label>Код подразделения </label><input placeholder="000-000" type="text" class="passport-code">
          <label>Дата выдачи </label><input type="date" class="passport_date"><br>
          <label>Кем выдан </label><br>
          <input placeholder="УВД Центрального района Кемеровской области" type="text" class="passport-place">
        </div>
        <div class="input-dotted-overflow info-block animated bounceInRight d_3">
          <h5>Адрес регистрации / проживания: </h5>
          <label>Индекс </label><input placeholder="000000" type="text" class="passport_num">
          <label>Населенный пункт </label><input placeholder="Новокузнецк" type="text" class="adress-sity"> <span
          class="alert alert-success" role="alert">Не нашли свой город?</span> <br>
          <label>Адрес </label> <input placeholder="Улица, дом, корпус,квартира" type="text" class="adress-place">
        </div>
        <div class="input-dotted-overflow info-block animated bounceInRight d_4">
          <h5>Почтовый адрес: </h5>
          <label>Индекс </label><input placeholder="000000" type="text" class="passport_num">
          <label>Населенный пункт </label><input placeholder="Новокузнецк" type="text" class="adress-sity"> <br>
          <label>Адрес </label> <input placeholder="Улица, дом, корпус,квартира" type="text" class="adress-place">
        </div>
      </div>
      <!-- END Физ.лицо -->

      <!-- ИП -->
      <div *ngIf="legal_status == 'individual_entrepreneur'">
        <div class="input-dotted-overflow animated bounceInRight d_1">
          <label>ИП </label>
          <input placeholder="Иванов" type="text" required>
          <b>*</b>
          <input placeholder="Иван" type="text" required>
          <b>*</b>
          <input placeholder="Иванович" type="text"><br>
          <label>ИНН </label>
          <input placeholder="1234567890" type="text" required
                 [(ngModel)]="company.itn" name="itn" #itn="ngModel"
                 [rangeLength]="[12, 12]">
          <div class="error" *ngIf="itn.touched && itn.errors?.rangeLength">
            12 цифр
          </div>
          <label>КПП </label>
          <input placeholder="1234567890" type="text">
          <label>ОРНИП </label>
          <input placeholder="1234567890" type="text">
        </div>
        <div class="input-dotted-overflow info-block animated bounceInRight d_2">
          <label class="h5">Серия паспорта: </label><input placeholder="1234" type="text" class="passport-series">
          <label>Номер </label><input placeholder="123456" type="text" class="passport-num">
          <label>Код подразделения </label><input placeholder="000-000" type="text" class="passport-code">
          <label>Дата выдачи </label><input type="date" class="passport_date"><br>
          <label>Кем выдан </label><br>
          <input placeholder="УВД Центрального района Кемеровской области" type="text" class="passport-place">
        </div>
        <div class="input-dotted-overflow info-block animated bounceInRight d_3">
          <h5>Адрес регистрации / проживания: </h5>
          <label>Индекс </label><input placeholder="000000" type="text" class="passport_num">
          <label>Населенный пункт </label><input placeholder="Новокузнецк" type="text" class="adress-sity"> <span
          class="alert alert-success" role="alert">Не нашли свой город?</span> <br>
          <label>Адрес </label> <input placeholder="Улица, дом, корпус,квартира" type="text" class="adress-place">
        </div>
        <div class="input-dotted-overflow info-block animated bounceInRight d_4">
          <h5>Почтовый адрес: </h5>
          <label>Индекс </label><input placeholder="000000" type="text" class="passport_num">
          <label>Населенный пункт </label><input placeholder="Новокузнецк" type="text" class="adress-sity"> <br>
          <label>Адрес </label> <input placeholder="Улица, дом, корпус,квартира" type="text" class="adress-place">
        </div>
      </div>
      <!-- END ИП -->

      <!-- Юр.лицо -->
      <div *ngIf="legal_status == 'legal_entity'">
        <div class="input-dotted-overflow animated bounceInRight d_1">
          <label>ОПФ </label><input placeholder="ОАО" type="text" class="">
          <label>Полное название организации </label><input placeholder="СтройКопай" type="text" class=""> <br>
          <label>ИНН </label><input placeholder="1234567890" type="text">
          <label>КПП </label><input placeholder="1234567890" type="text">
          <label>ОРН </label><input placeholder="1234567890" type="text">
        </div>
        <div class="input-dotted-overflow info-block animated bounceInRight d_2">
          <h5>Уполномоченное лицо:</h5>
          <label>ФИО </label>
          <input placeholder="Иванов" type="text">
          <input placeholder="Иван" type="text">
          <input placeholder="Иванович" type="text"><br>
          <label>Должность </label><input placeholder="Директор" type="text">
          <label>Основание полномочий </label><input placeholder="Устав №123 от 10.01.2005" type="text"> <br>
        </div>
        <div class="input-dotted-overflow info-block animated bounceInRight d_3">
          <h5>Адрес регистрации / проживания: </h5>
          <label>Индекс </label><input placeholder="000000" type="text" class="passport_num">
          <label>Населенный пункт </label><input placeholder="Новокузнецк" type="text" class="adress-sity"> <span
          class="alert alert-success" role="alert">Не нашли свой город?</span> <br>
          <label>Адрес </label> <input placeholder="Улица, дом, корпус,квартира" type="text" class="adress-place">
        </div>
        <div class="input-dotted-overflow info-block animated bounceInRight d_4">
          <h5>Почтовый адрес: </h5>
          <label>Индекс </label><input placeholder="000000" type="text" class="passport_num">
          <label>Населенный пункт </label><input placeholder="Новокузнецк" type="text" class="adress-sity"> <br>
          <label>Адрес </label> <input placeholder="Улица, дом, корпус,квартира" type="text" class="adress-place">
        </div>
      </div>
      <!-- END Юр.лицо -->
      <div>
        <div class="agree-and-go animated bounceInLeft">
          <div>
            <input class="hidden-xs-up" id="cbx" type="checkbox">
            <label class="cbx" for="cbx"></label>
            <label class="lbl" for="cbx"> Я согласен и принимаю <a href="#">условия договора</a></label>
          </div>
          <button type="submit" class="btn-primary"><i class="fa fa-check"></i> Сохранить</button>
        </div>
      </div>
    </div>
    <!-- END Status 2-2 -->
  </form>
  <!-- END Status 2-1 -->
  <!-- Status 2-3 -->
  <div *ngIf="company_data_status === 'saved'" class="animated fadeIn">
    <h2>ИП "Фёдоров Иван Петрович"</h2>
    <label>ИНН:</label> <span class="res-id bold">661706400462</span> <label>КПП:</label> <span class="res-id bold">6548452</span><br>
    <label>ОРНИП:</label> <span class="res-id bold">307667028800032</span>
    <h4>Паспорт:</h4>
    <label>Серия:</label> <span class="res-id bold">6617</span> <label> Номер:</label> <span class="res-id bold">98541357</span> <label>Код подразделения:</label> <span class="res-id bold">661706400462</span><br>
    <label>Выдан:</label> <span class="res-id bold">УВД Центрального района</span>
    <h4>Адрес:</h4>
    <label>Почтовый:</label> <span class="res-id bold">620137, г.Екатеринбург, ул. Бехтерева, 3, кв.139</span><br>
    <label>Адрес регистрации:</label> <span class="res-id bold">620137, г.Екатеринбург, ул. Бехтерева, 3, кв.139</span><br>
    <button (click)="companyDataEdit()" class="btn-primary"><i class="fa fa-pencil"></i> Редактировать</button>
  </div>
  <!-- END Status 2-3 -->
  <hr>
</div>
