<div class="row">
  <label class="col-6">
    Название организации
    <input class="simple-input" type="text" placeholder="ОАО" [(ngModel)]="contract_data.organization.type">
  </label>
  <label class="col-6">
    &nbsp;
    <input class="simple-input" type="text" placeholder="СтройКопай" [(ngModel)]="contract_data.organization.type">
  </label>
</div>
<div class="header mod-align-center">
  <div class="text">Данные сотрудника уполномоченного на подписание договора</div>
  <div class="border"></div>
</div>
<div class="row">
  <label class="col-4">
    Фамилия <fa class="ico-duplicate" name="angle-double-down"></fa>
    <input class="simple-input" type="text" placeholder="Иванов" [(ngModel)]="contract_data.second_name">
  </label>
  <label class="col-4">
    Имя
    <input class="simple-input" type="text" placeholder="Иван" [(ngModel)]="contract_data.first_name">
  </label>
  <label class="col-4">
    Отчество
    <input class="simple-input" type="text" placeholder="Иванович" [(ngModel)]="contract_data.patronymic">
  </label>
</div>
<div class="row">
  <label class="col-6">
    Должность
    <input class="simple-input" type="text" placeholder="Директор" [(ngModel)]="contract_data.position">
  </label>
  <label class="col-6">
    Основание полномочий
    <input class="simple-input" type="text" placeholder="Устав №123 от 10.01.2005" [(ngModel)]="contract_data.authority_basis">
  </label>
</div>
<div class="header mod-align-center">
  <div class="text">Данные об организации</div>
  <div class="border"></div>
</div>
<div class="row">
  <label class="col-3">
    Адрес регистрации
    <input [textMask]="{mask: MASKS.only_number, guide: false}" class="simple-input" type="text" placeholder="Индекс"
           [(ngModel)]="contract_data.registration_address.postcode">
  </label>
  <div class="col-9">
    <location
      (countryOut)="contract_data.registration_address.country = $event"
      (regionOut)="contract_data.registration_address.region = $event"
      (cityOut)="contract_data.registration_address.city = $event"
      [country]="contract_data.registration_address.country"
      [region]="contract_data.registration_address.region"
      [city]="contract_data.registration_address.city"></location>
  </div>
  <label class="col-3">
    <input class="simple-input" type="text" placeholder="ул. Кирова д.2 кв.4"
           [(ngModel)]="contract_data.registration_address.street">
  </label>
</div>
<div class="row">
  <label class="col-3">
    Почтовый адрес <fa class="ico-duplicate" name="angle-double-down"></fa>
    <input [textMask]="{mask: MASKS.only_number, guide: false}" class="simple-input" type="text" placeholder="Индекс"
           [(ngModel)]="contract_data.postal_address.postcode">
  </label>
  <div class="col-9">
    <location
      (countryOut)="contract_data.postal_address.country = $event"
      (regionOut)="contract_data.postal_address.region = $event"
      (cityOut)="contract_data.postal_address.city = $event"
      [country]="contract_data.postal_address.country"
      [region]="contract_data.postal_address.region"
      [city]="contract_data.postal_address.city"></location>
  </div>
  <label class="col-3">
    <input class="simple-input" type="text" placeholder="ул. Кирова д.2 кв.4"
           [(ngModel)]="contract_data.postal_address.street">
  </label>
</div>
<div class="row">
  <label class="col-6">
    Номер свидетельства гос. регистрации ИП
    <input [textMask]="{mask: MASKS.only_number, guide: false}" class="simple-input" type="text" placeholder="12345678912"
           [(ngModel)]="contract_data.certificate_number">
  </label>
  <label class="col-6">
    Дата государственной регистрации ИП
    <ng2-datepicker [options]="options" [(ngModel)]="contract_data.certificate_date"></ng2-datepicker>
  </label>
</div>
<div class="row" *ngIf="status.residency=='russian_federation'">
  <label class="col-4">
    ИНН
    <input [textMask]="{mask: MASKS.only_number, guide: false}" class="simple-input" type="text" placeholder="12345678912"
           [(ngModel)]="contract_data.itn">
  </label>
  <label class="col-4">
    КПП
    <input [textMask]="{mask: MASKS.only_number, guide: false}" class="simple-input" type="text" placeholder="12345678912"
           [(ngModel)]="contract_data.iec">
  </label>
  <label class="col-4">
    ОГРН
    <input [textMask]="{mask: MASKS.only_number, guide: false}" class="simple-input" type="text" placeholder="12345678912"
           [(ngModel)]="contract_data.psrn">
  </label>
</div>
<div class="row" *ngIf="status.residency=='other'">
  <label class="col-4">
    Номер налогоплательщика
    <input [textMask]="{mask: MASKS.only_number, guide: false}" class="simple-input" type="text" placeholder="12345678912"
           [(ngModel)]="contract_data.itn">
  </label>
</div>
