@import "parts/colors"
@import "parts/mods"

.simple-input
  height: 41px
  width: 100%
  border: 1px solid  #{map_get($component_colors, border)}
  outline: none
  padding: 5px 40px 5px 20px
  background-color: white
  margin-bottom: -1px

.custom-radio
  width: 20px
  height: 20px

.border
  flex: 1 1 auto
  border: 1px solid lightgray
  margin-top: 10px
  margin-bottom: 10px

